*
{
    margin: 0;
    padding: 0;
}

.clear
{
    clear: both;
}

h1
{
    text-align: center;
    margin: 20px auto;
}

header ul > li
{
    display: inline-block;
    padding: 0 10px;
}


header ul > li > a
{
    color: white;
    line-height: 70px;
}

#topnav
{
    text-align: center;
    background-color: #49973a;
    height: 70px;
}

#content, #form
{
    width: 800px;
    margin: 20px auto;
}

main
{
    float: left;
}

#aside_nav ul > li
{
    text-align: center;
    list-style-type: none;
    padding-bottom: 15px;
}
#aside_nav img
{
    width: 35px;
}

figure
{
    float: left;
    padding-right: 15px;
    padding-bottom: 25px; 
}

.text
{
    text-align: justify;
    text-indent: 30px;
}

.article
{
    margin-top: 35px;
}

h2
{
    padding-bottom: 10px;
}

h3
{
    margin-bottom: 15px;
}

.date
{
    text-align: right;
    font-family: monospace;
    margin-top: 15px;
}

#article1 img
{
    float: left;
    width: 250px;
    padding: 10px 10px 10px 0;
}

#article2 a:first-child
{
    float: left;
}

#article2 a:last-child
{
    float: right;
}

table
{
    margin: 10px auto;
    width: 80%;
    text-align: center;
    border: 1px solid black;
}

thead, tfoot
{
    background-color: #acacac;
}

td
{
    padding: 3px;
}

form
{
    margin: 40px 10px;
}

label
{
    display: inline-block;
    width: 90px;
    text-align: right;
    padding-right: 10px;
    padding-bottom: 10px;
}

label.msg
{
    vertical-align: top;
}

input, textarea
{
    width: 180px;
}

input[type="submit"]
{
    margin-left: 100px;
    width: 80px;
}

span.star
{
    color: red;
}

p.star
{
    margin-left: 100px;
    font-size: 10px;
    color: #9a9a9a;
    padding-bottom: 5px;
}

#copy
{
    height: 70px;
    background-color: #49973a;
}
#copy p
{
    line-height: 70px;
    text-align: center;
    color: white;
}